html,
body {
    margin: 0;
    padding: 0;
}

body {
    padding: 15px;
    background-color: #F0F2F5;
}

/* 封面容器的样式 */
.cover-box {
    display: flex;
}

/* 左侧裁剪区域的样式 */
.cover-left {
    width: 400px;
    height: 280px;
    overflow: hidden;
    margin-right: 20px;
}

/* 右侧盒子的样式 */
.cover-right {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* 预览区域的样式 */
.img-preview {
    width: 200px;
    height: 140px;
    background-color: #ccc;
    margin-bottom: 20px;
    overflow: hidden;
}

/* @media screen and (max-width:425px) {
    .layui-card-body {
        padding: 10px 0px;
    }

    .layui-form-label {
        padding: 9px 0px;
        width: 60px;
    }

    .layui-input,
    .layui-textarea {
        padding-left: 0px;
    }

    .layui-input-block {
        margin-left: 0px;
    }
} */

/* @media screen and (max-width:766px) {
    .layui-card-body {
        padding: 10px 0px;
    }

    .layui-form-label {
        padding: 9px 0px;
        width: 60px;
    }

    .layui-input,
    .layui-textarea {
        padding-left: 0px;
    }

    .layui-input-block {
        margin-left: 0px;
    }

    .cover-left {
        width: 150px;
        height: 130px;
        overflow: hidden;
        margin-right: 5px;
    }
} */
@media screen and (max-width:766px) {
    body {
        width: 766px;
    }

    .layui-input-block {
        margin-left: 0px;
    }

    .layui-form-select .layui-edge {
        top: 75%;
    }
}