html,
body {
    margin: 0;
    padding: 0;
}

body {
    background-color: #F0F2F5;
    padding: 15px;
}

.layui-form {
    width: 500px;
}

@media screen and (max-width:768px) {
    .layui-form {
        width: 320px;
    }
}